<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dshubs.odc.infra.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="org.dshubs.odc.domain.entity.Employee">
        <result column="employee_id" property="employeeId"/>
        <result column="employee_num" property="employeeNum"/>
        <result column="domain_account" property="domainAccount"/>
        <result column="employee_name" property="employeeName"/>
        <result column="org_code" property="orgCode"/>
        <result column="org_name" property="orgName"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="home_address" property="homeAddress"/>
        <result column="position_code" property="positionCode"/>
        <result column="position_name" property="positionName"/>
        <result column="enabled_flag" property="enabledFlag"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="creation_date" property="creationDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
    </resultMap>
    <select id="listEmployee" resultType="org.dshubs.odc.domain.entity.Employee">
        SELECT oe.*
        FROM opfm_employee oe
        left join opfm_organization oo
        on oe.org_code = oo.org_code
        <where>
            <if test="p.orgCodes != null">
                and oe.org_code in
                <foreach collection="p.orgCodes" item="orgCode" separator="," open="(" close=")">
                    #{orgCode}
                </foreach>
            </if>
        </where>
    </select>
    <select id="countLeftDomainAccount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM opfm_employee
        WHERE domain_account LIKE CONCAT(#{domainAccount}, '%')
    </select>
</mapper>
